/* Reset */

body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 300px;
  }
}

/* Header */

.header {
  background-color: #0029f7;
  padding: 20px 0;
}

.header-nav {
  flex: 1;
  margin: 0 10px;
  align-self: center;
}

.header-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.125em;
}

.header-logo {
  padding: 0 10px;
}

.header-nav ul {
  float: right;
  display: flex;
  list-style: none;
}

.header-nav ul li a {
  padding: 10px;
}

@media (max-width: 739px) {
  .header-logo {
    margin: 0 auto 20px auto;
  }

  .header-nav a {
    border: 1px solid white;
    margin-left: 5px;
    border-radius: 5px;
  }

  .header-nav a:hover {
    background-color: #fff;
    color: black;
  }
}

/* Albums */

.album-item {
  background-color: #0029f7;
  border-radius: 15px;
  padding: 60px;
  margin: 60px auto;
}

.album-img img {
  border-radius: 15px;
}

.album-info {
  padding: 0px 20px;
  color: white;
}

.album-info h2 {
  font-size: 2em;
  margin-bottom: 5px;
  line-height: 1em;
}

.album-info h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
}

.album-info p {
  font-size: 1.125em;
  margin-top: 20px;
  max-width: 360px;
  line-height: 1.4em;
}

.album-info a > img {
  margin-top: 20px;
}
